.App {
  text-align: center;
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.user {
  padding: 5%;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}
