.startup-details-card{
    width: 100%;
    height: 100%;
    padding: 2%;
}

.startup-details-card p{
    text-align: justify;
}

.startup-details-img{
    object-fit: cover;
    
    min-width: 70px;
    height:inherit;
}

.startup-product-card{
    margin: 2% 0% 2% 0%;
    
}


.startup-founder-card{
    margin: 2% 0% 2% 0%;
}

.startup-funding-card{
    margin: 2% 0% 2% 0%;
    /* background-color:#19273d; */
}

.startup-offering-card{
    margin: 2% 0% 2% 0%;
}

.startup-details-img{
    display: flex;
    flex-direction: row;
    width:100%;
}


.founder-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.founder-flex-details{
    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    padding: 2%;
}
.founder-flex-details p{
    margin: 1% 0% 1% 0%;
}
.founder-flex img{
    width : 5vw;
    height: 5vw;
    object-fit: cover;
}
.demo-chart {
    height: 50vh;
    width : 60vw;
  }
@media screen and (max-width: 699px){
    .founder-flex img{
        width : 25vw;
        height: 25vw;
        object-fit: cover;
    }
}

    
.mat-card{
    margin:20px;
}

.startup-details-img img{
    height:inherit;
    width:200px;
    height:140px;
    object-fit: cover;
    object-position: center;
}

.startup-details-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc{
    margin-top:25px !important;
}

p{
    color:#6a6d78;
}

.sec-header{
    margin-left:40px;
    color:#e54d65;
}

.crd{
    border-left-width:4px;
    border-left-color:#e24080;
    border-left-style: solid;
}

.bton{
    background: linear-gradient(45deg,#e24080,#ea5945);
    color:white;
    font-weight: bold;
    border:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}

.startup-chart{
    height: 50vh;
    width : 60vw;
}