

<div class="parallax ">

  <!--  <div class="title">
        <h1>Digi-Cheques</h1>
        <p>Now you can issue cheques online via Digi-Cheque</p>
      </div>
    -->
   
 </div>
 
 <div  class="parallax1">
  <!--  <div class="title">
        <h1>Digi-Cheques</h1>
        <p>Now you can issue cheques online via Digi-Cheque</p>
      </div> -->
 </div>
 <div  class="parallax2">
   <!-- <div class="title">
        <h1>Digi-Cheques</h1>
        <p>Now you can issue cheques online via Digi-Cheque</p>
      </div> -->
 </div>
 