<html>
<body>
  <div class="row">
    <div class="col-md-12">
  <p>What they're telling about Just Bank!</p>
  </div>
  </div>
<div class="row ">
  <div class="col-md-7">
     <div>
      <blockquote id="bq">
         Services are simply awesome. I have saved Rs.1,00,000 with the help of Portfolio Management. Grateful to Just Bank forever.
      <footer id="ci">
       
          <cite >
              Nivetha Thomas
          </cite>
      </footer>
      </blockquote>
  </div>
  </div>
  <div class="col-md-5">
      <div id="border"></div>
      <div id="wrapper">
        <div id="carousel">
          <img src="../../../../assets/images/pro1.jpg" width="250" height="300" />
          <img src="../../../../assets/images/pro2.jpg" width="250" height="300" />
          <img src="../../../../assets/images/pro3.jpg" width="250" height="300" />
          <img src="../../../../assets/images/pro4.jpg" width="250" height="300" />
          <img src="../../../../assets/images/pro5.jpg" width="250" height="300" />
        </div>
      </div>
      <!-- <div id="pager"></div> -->
</div>
</div>
</body>
</html>