<div class="row stuff">
    
    <div class="col-lg-5 col-md-5">
           
        <div class="card1">
          <h3>Portfolio Management</h3>
          <p>In order to help you on your wealth journey,
                Just Bank offers you a suite of carefully evaluated investment products. 
                Our Wealth Specialists are here to provide you with actionable and 
                relevant information, allowing you to invest appropriately.
          </p>
        </div>
        <br>
        <div class="pqr">
        <a  routerLink="/home/login" class="btn btnStyle center-block">Proceed  <span class="glyphicon glyphicon-arrow-right"></span></a> 
        </div>
    </div>
    <div class="col-lg-7 styleCarousel" >
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="card item active img-responsive imgStyle" >
                <img class="card-img-top" style="width:100%" src="../../../assets/images/dg111.jpg" alt="Card image cap">
                <div class="card-block">
                  <h2 class="card-title">Fed up using normal cheques?</h2>
                  <p>Wanna use a Digital Cheque Service?</p>
                </div>
              </div>
              <div class="card item img-responsive imgStyle " style="width:100%;">
                  <img class="card-img-top" style="width:100%; " src="../../../assets/images/dgnew2.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h2 class="card-title">Just Bank offers you Digital Cheque service!!!</h2>
                    <div class="styleButton">
                    <a  routerLink="/home/login"  class="btn btnStyle1">Take me there</a> </div>
  
                  </div>
                </div>
                <div class="card item img-responsive imgStyle " style="width:100%;">
                    <img class=" card-img-top"  style="width:100%; " src="../../../assets/images/dgnew3.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h2 class="card-title">Digi Cheque is easy and simple</h2>
                      <div class="styleButton">
                      <a  routerLink="/home/login"  class="btn btnStyle1">Take me there</a> </div>
                    </div>
                  </div> 
        <!--  <div class="item active img-responsive imgStyle">
            <img src="../../../assets/images/dgnew1.jpg" alt="Los Angeles" style="width:100%;">
          </div> 
    
          <div class="item img-responsive imgStyle">
            <img src="../../../assets/images/dgnew2.jpg" alt="Chicago" style="width:100%;">
          </div>
        
          <div class="item img-responsive imgStyle">
            <img src="../../../assets/images/dgnew3.jpg" alt="New york" style="width:100%;">
          </div> -->
        </div> 
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
  </div>