<!-- <p><b>Select Account from which you want to send digital cheque</b></p>
<div class="main-flex">
    
      <div class="card acc" *ngFor="let account of accounts">
        <button type="button" class="btn btn-danger" (click)="onClick()">Select this account</button>
        <h3>{{account.account_no}}</h3>
        <h4>{{account.balance}}</h4>
        <h4>{{account.account_type}}</h4>
        
      </div>
    
    
      
     
    
    </div> -->

<div class="cntnr">
<app-digiform></app-digiform>
</div>
