<div id="footer">
    <div class="row footer-stuff">
        <div class="col-sm-3 ">
            <h4>Quick Links</h4>
            <ul class="a" style=" list-style:none;">
                <li>
                    <p>Link your PAN</p>
                </li>
                <li>
                    <p>Link your Aadhar</p>
                </li>
                <li>
                    <p>Issue DigiCheque</p>
                </li>
                <li>
                    <p>Invest Online</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 ">
            <h4>Know more</h4>
            <ul class="a">
                <li>
                    <p>Locate us</p>
                </li>
                <li>
                    <p>Nearest ATM</p>
                </li>
                <li>
                    <p>IFSC codes</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 ">
            <h4>Customer Care</h4>
            <ul class="a">
                <li>
                    <p>FAQs</p>
                </li>
                <li>
                    <p>Contact us</p>
                </li>
                <li>
                    <p>Complaints</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 ">
            <h4>Find Us at</h4>
            <div class="images">
                <img src="../../../../assets/icons/facebook.png" alt="fb">
                <img src="../../../../assets/icons/twitter.png" alt="twitter">
                <img src="../../../../assets/icons/linkedin.png" alt="linkedin">
                
            </div>
            <div class="terms">
                <p>Copyright Just Bank Ltd @CopyRights 2017 </p>
                <a href="#">Terms and Conditions</a>
            </div>
        </div>
    </div>

</div>