<!-- <div id="wrapper">
	<div id="slider">
    <div class="slide" style="background-image: url(../../../../assets/images/bank1.jpg);">
			<div class="slide-block">
				<h4>Smooth Transactions!</h4>
				<p>Yes! Your transactions are made more smoother via Just Bank. We provide you various services which includes DigiCheque, Goal Management and InnovHelp.</p>
			</div>
		</div>
		<div class="slide" style="background-image: url(../../../../assets/images/busy1.jpg);">
			<div class="slide-block">
				<h4>Digi Cheque</h4>
				<p>Heading towards a digital world, we are introducing a Digital Cheque service. You can now switch all your business transactions to DigiCheque. </p>
			</div>
		</div>
 
		<div class="slide" style="background-image: url(../../../../assets/images/pm2.jpg);">
			<div class="slide-block">
				<h4>Goals</h4>
				<p>Do you have some goals? Our experts provide you a detailed analysis of the amount you need to save inorder to achieve your goals.</p>
			</div>
		</div>
 
		<div class="slide" style="background-image: url(../../../../assets/images/pm1.jpg);">
			<div class="slide-block">
				<h4>Goals</h4>
				<p>Education, Marriage, Travel or buying an Asset? Our goal is to make you achieve your goals.</p>
			</div>
		</div>
    <div class="slide" style="background-image: url(../../../../assets/images/innov2.jpg);">
			<div class="slide-block">
				<h4>Innov Help</h4>
				<p>Just Bank gives life to your StartUp ideas. Create trust and attract investors from our bank.</p>
			</div>
		</div> 
		<div class="slide" style="background-image: url(../../../../assets/images/mon.jpg);">
			<div class="slide-block">
				<h4>Innov Help</h4>
				<p>Investing in StartUps is trending. By investing you will own a stake in the business.</p>
			</div>
		</div> 
	</div>
</div> -->
<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row">
		<div id="home_div_1">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<h1>We are guiding you to start making money</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<p>Making money isn't the backbone of our guiding purpose; 
						but a by-product of our guiding purpose. 
						</p>
				</div>
			</div>
		</div>
	</div>
	<div id="body" class="main-card">
		<div class="row card-1">
			<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
				<h2>We are Just Bank</h2>
				<p>Just Bank has now come up with many services and products like DigiCheque,
					 Goal Management and InnovHelp which are more secure, reliable and user-friendly</p>
			</div>
		</div>
		<div class="row card-2">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="../../../../assets/images/secure.png" alt="Secure">
				<h4>Secure</h4>
				<p>Just Bank ensures that your transactions and personal
					 information are protected. However, you as a customer can also play a big part in
					  protecting your banking and personal information</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="../../../../assets/images/reliable.png" alt="reliable">
				<h4>Reliable</h4>
				<p>Reliability as every customer expects, is one of our key aspects. The services are now more 
						accurate and highly reliable with Just Bank. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="../../../../assets/images/user_friendly.png" alt="userfreindly">
				<h4>User Friendly</h4>
				<p> Meeting Today's Customer Needs with Internet Banking, Just Bank offers a very user friendly platform
					to make your journey more smoother with us.  </p>
			</div>
		</div>
		<div class="row card-3">
			<h2>Products</h2>
			<div class="row product">
				<div class="col-md-6 col-sm-6 col-xs-12 content1" id="digiCheque">
					<h3>
						DigiCheque
					</h3>
					<p>Just Bank provides you with a digital cheque service which works like any Paper Cheque but with more security and no overhead. 
						You can now	start switching your business transactions to Digi Cheque.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="../../../../assets/images/cheque_art.jpeg" alt="digicheque">

				</div>
			</div>
			<div class="row product">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<img src="../../../../assets/images/goal_management.jpeg" alt="goal">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 content1" id="goals">
					<h3>
						Goal Management
					</h3>
					<p>In order to help you on your wealth journey,
							Just Bank offers you a suite of carefully evaluated investment products. 
							Our Wealth Specialists are here to provide you with actionable and 
							relevant information, allowing you to invest appropriately.</p>
				</div>
			</div>
			<div class="row product">
				<div class="col-md-6 col-sm-6 col-xs-12 content1" id="innovHelp">
					<h3>
						Innov-Help
					</h3>
					<p>Just Bank gives life to your StartUp ideas. 
						Our customers are ready to invest in your business. Grab this service and make your ideas work.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="../../../../assets/images/innovhelp.JPG" alt="innovhelp">

				</div>
			</div>

		</div>
		<div class="row card-4">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Join with Us!</h1>
				<button mat-button [routerLink]="['/home/signup']">Join</button>
			</div>
		</div>


		<!-- <div class="flex">
			<div class="flex2">
				<div class="content">
					<h1>Digi Cheque</h1>
					<p>Heading towards a digital world, we are introducing a Digital Cheque service. You can now switch all your business transactions to DigiCheque.</p>
				</div>
				<img src="../../../../assets/images/digicheque.png"/>
			</div><br><br><br>
			<div class="flex2">
				<div class="content">
					<h1>Goals Management</h1>
					<p>Do you have some goals? Our experts provide you a detailed analysis of the amount you need to save inorder to achieve your goals.Education, Marriage, Travel or buying an Asset? Our goal is to make you achieve your goals.</p>
				</div>
				<img src="../../../../assets/images/pm1.jpg"/>
			</div><br><br><br>
			<div class="flex2">
				<div class="content">
					<h1>Innov Help</h1>
					<p>Just Bank gives life to your StartUp ideas. Create trust and attract investors from our bank.Investing in StartUps is trending. By investing you will own a stake in the business.</p>
				</div>
				<img src="../../../../assets/images/innov2.jpg"/>
			</div>
			<app-feedback></app-feedback>
		</div> -->
	</div>
</div>

