<div id="board">
  <div *ngFor='let row of matrix'>
    <span *ngFor='let column of row'>
      <span *ngIf='column === 2' id="box" >
          <img style="zoom: 10%" src="assets/images/mario.jpg" alt="mario">
      </span>
      <span *ngIf='column === 1' id="box" >
          <img style="zoom: 7.7%" src="assets/images/mushroom.jpg" alt="mario">
      </span>
      <span *ngIf='column !== 2 && column !== 1' id="box" style="color: white">
          <img style="zoom: 10%;visibility: hidden" src="assets/images/mario.jpg" alt="mario">
      </span>
    </span>
  </div>
</div>
<router-outlet></router-outlet>