 .navbar{
    border-radius:0;
    /* background:linear-gradient(-180deg,#0F4B5C,#0f4c5c);         */
    height:10%;
    padding-top:10px;
    padding-bottom:2px;
    padding:30px;
    border:0;
    /* box-shadow: 0 3px 20px -5px #666; */
    position: fixed;
    width:100%;
    z-index: 5;
    top:0;
    margin-bottom:0;
    position: absolute;
    top:0;
    z-index: 3;
    
} 
a,a:hover{
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

a:active{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

#tag{
    font-size:60px;
}
 
#logIn{
    float: right;
    font-weight: bold;
    font-size: 22px;
}



