<div class="spinner-border" role="status" *ngIf="userList.length == 0">
    <span class="sr-only">Loading...</span>
  </div>
<div *ngIf="userList.length > 0">
    <div>
        <span><label for="sort">Sort by</label></span>
        <span><select class="custom-select" (change)="onSortOrderChanged($event.target.value)" >
            <option value="id" selected>None</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
          </select></span>
    </div>
        <div class="user" *ngFor="let user of userList; let i = index" [style.transform]="'translateY(' + i * 100 + '%)'">
            <!-- <p>{{user.email}}</p> -->
            <app-user-profile [user]="user"></app-user-profile>
        </div>
</div>
