<div class="container">
    <div class="vh-100" *ngIf="userList.length == 0" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="spinner-border" role="status" >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="search" fxLayout="row wrap" *ngIf="userList.length > 0" fxLayoutAlign="end center">
        <div fxFlex="70%">
            <h4 style="text-align: center;">USERS</h4>
        </div>
        <label for="sort" fxFlex="10%" style="text-align: center;">Sort by</label>
        <select fxFlex="20%" class="custom-select" style="margin-bottom: 1%;" (change)="onSortOrderChanged($event.target.value)">
            <option value="id" selected>None</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
        </select>
    </div>
    <div class="jumbotron" *ngIf="userList.length > 0" style="padding-top: 1%; padding-bottom: 1%;" fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="25%" class="user" *ngFor="let user of userList; let i = index">
            <!-- <p>{{user.email}}</p> -->
            <!-- [style.transform]="i%3 == 0 ? 'translateY(' + i * 100 + '%)' : 'translateY(0%)'" -->
            <div>

                <app-user-profile [user]="user"></app-user-profile>
            </div>
        </div>
    </div>
</div>